#directories
env/
models/
data/
saved_models/
.neptune
useless/
data_finished/

#file extentions
.zip
.pdf
.jpg
.svg
.idea
.zip
*.sh

#repos
baselines_l
gym_l
__pycache__

plots/
fn_code/
logs/
runs/
*.zip